@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 2em;
}

.box :first-child {
    align-self: center;
}