.container {
  margin: 0 auto;
  width: 660px;
  background: #444753;
  border-radius: 5px;
}
.chat {
  width: 100%;
  float: left;
  background: #ededed;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border: 3px solid #0ab4b4;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 3px solid #0ab4b4;
  border: 3px solid #292929;
  overflow-y: scroll;
  height: 350px;
}
.chat-history::-webkit-scrollbar {
  display: none;
}
.chat .chat-history .message-data {
  margin-bottom: 30px;
}
.chat .chat-history .message {
  color: white;
  padding: 10px 20px;
  line-height: 20px;
  font-size: 17px;
  border-radius: 7px;
  width: 40%;
  position: static;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color:#292929;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #292929;
}
.chat .chat-history .other-message {
  background: #09b4b5;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #09b4b5;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message .chatbox{
  width: 80%;
  border: none;
  padding: 12px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #292929;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.chat .chat-message button:hover {
  color: #09b4b5;
}

.chat .chat-message .button {
  float: right;
  color: #292929;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.chat .chat-message .button:hover {
  color: #09b4b5;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #292929;
}

.offline {
  color: #818181;
}

.me {
  color: #08b4b6;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
