<!DOCTYPE html>
<html>
<head>
	<title>Dashboard - SindiAI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static',filename='img/1.png') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/weather.css') }}" type= "text/css">

	<!-- Chat -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/chat.css') }}" type= "text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="box">
    <div class="chat">
        <div class="chat-header clearfix">
            <img src="{{ url_for('static',filename='img/1.png') }}" alt="avatar" width="50px" height="50px" />
            <div class="chat-about">
              <div class="chat-with">Chat with Sindi</div>
              <div class="chat-num-messages">already {{ user_input|length }} messages</div>
            </div>
        </div>
      <div class="chat-history" id="chat">
        <ul>
          {% for i in range(0, user_input|length, 2) %}
          <br>
          <li>
            <div class="message-data align-right">
              <span class="message-data-name"><i class="fa fa-circle me "></i>You</span>
              <!-- <span class="message-data-time">10:12 AM, Today</span> -->
            </div>
            <div class="message other-message float-right">
              {{user_input[i]}}
            </div>
          </li>
          <li class="clearfix">
            <div class="message-data ">
             <!-- <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp; -->
              <span class="message-data-name" >Sindi</span> <i class="fa fa-circle online"></i>
            </div>
            <div class="message my-message ">
              {{user_input[i+1]}}
            </div>
          </li>
          {% endfor %}
            <li id="last"></li>
        </ul>
      </div>

      <div class="chat-message clearfix">
          <form action="/process" method="POST" name="user_input_form">
              <input autocomplete="off" class="chatbox" type="text" name="user_input" id="message-to-send" placeholder ="Type your message">
              <button type="submit" >Send</button>
          </form>
          <button><i class="fa fa-microphone fa-lg"></i></button>
          <div class="cleargix"></div>
          <a class="button" href="/clear"><i class="fa fa-trash fa-lg"></i></a>
      </div>
    </div>

</div>

<div style="text-align: center; border-bottom: 3px solid #0ab4b4;
  border: 3px solid #292929;">
  <img width="100px" src="{{music[0]}}">
  <div class='title'><b>{{music[1]}}</b></div>
  <div class='artist'>{{music[2]}}</div>
  <div class="weather_wrapper">
  <div class="weather">
    <div class="weatherCard">
        <div class="currentTemp">
            <span class="temp">{{temp}}&deg;C</span>
            <span class="location">{{location}}</span>
        </div>
        <div class="currentWeather">
            <span class="conditions"><img src="http://openweathermap.org/img/wn/{{icon}}@2x.png"></span>
            <div class="info">
                <span class="rain">{{humidity}}%</span>
                <span class="wind">{{wind}} MPH</span>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
<!-- Chat -->
<script type="text/javascript">
  // Scroll to new message
  var element = document.getElementById("chat");
  element.scrollTop = element.scrollHeight;
  // Set focus to input box without clicking it
  document.forms['user_input_form'].elements['user_input'].focus();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>
</body>
</html>
